comp : {
display: "flex",
  flexDirection: "column",
  alignItems: "flex-start",
  gap: 8,
  padding: "8 8 48",
  boxShadow: "5 6 24 rgba(126, 132, 161, 0.1)",
  borderRadius: 8,
  backgroundColor: "#ffffff",
},

img : {
  width: "100%",
  height: 156,
  borderRadius: 16,
  objectFit: "contain",
  objectPosition: "top",
},



title : {
  wordBreak: "break-all",
},
