import React, {useState, useEffect} from 'react';
import { Center, HStack, Text, Box, VStack, Button } from "native-base";

const {{{NAME}}} = () => {
  return <Box>
  
  </Box>;
};

export default {{{NAME}}};